.button {
  border: none;
  background: $blue;
  color: #ffffff;
  font-size: $font-size-large;
  line-height: 1;
  padding: $s-size;
  font-weight: 300;
  display: 'inline-block';
  text-decoration: none;
  line-height: 1;
}

.button__link {
    background: none;
}

.button--secondary {
  background: #888888;
}
